<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <base href="/"/>

    @* SEO *@
    <title>ResurgenceBio</title>
    <link rel="icon" type="image/png" href="logos/favicon.png"/>

    @* stylesheets and meta styling *@
    <link rel="stylesheet" href="css/site.css"/>
    <link rel="stylesheet" href="ResurgenceBioWebsite.styles.css"/>

    @* animation libraries *@

    @* javascript and render mode *@
    <script src="js/interop.js"></script>
    <HeadOutlet @rendermode="InteractiveAuto"/>

    @* note: fix to bugged google map, due to the tailwind preflight configuration (https://github.com/tailwindlabs/tailwindcss/issues/484) *@
    <ImportMap/>
</head>

<body class="m-0 !bg-[#090b34]">
<Routes @rendermode="InteractiveAuto"/>
<script src="_framework/blazor.web.js"></script>
</body>

</html>

@code
{

}
