@using ResurgenceBioWebsite.Shared.Models
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.FluentUI.AspNetCore.Components

@* <EditForm Model="@_email" OnValidSubmit="HandleValidSubmit" class="flex items-center gap-2"> *@
@*     <DataAnnotationsValidator/> *@
@* *@
@*     <InputText @bind-Value="_email.EmailAddress" type="email" placeholder="Email" class="border-none shadow-none no-underline focus:outline-none active:transform-none w-40 h-10 rounded bg-[#1e1e2e] text-white flex-auto"/> *@
@* </EditForm> *@

<footer class="px-4 text-white">
    <div class="py-4"></div>

    <hr class="h-px border-none bg-[#2f375a]" />

    @* Submit address section *@
    <div class="mx-2 flex flex-col items-center justify-center md:mx-4 md:flex-row md:justify-between">
        <p class="m-0 w-full text-center text-xl md:w-3/5 md:text-start lg:w-2/5">Want to receive news and updates?</p>

        <form class="flex w-4/5 flex-col gap-2 sm:w-3/5 md:w-2/5 lg:w-3/5 lg:flex-row lg:justify-end">
            <input required id="email" type="email" placeholder="Email" value="@_email.EmailAddress" @oninput="e => _email.EmailAddress = e.Value.ToString()" class="h-10 rounded border-none bg-[#2f375a] px-2.5 font-serif text-gray-400 no-underline shadow-none focus:outline-none active:transform-none lg:w-64" />

            <button type="submit" class="h-10 cursor-pointer rounded border-none bg-[#167070] px-6 font-serif text-white no-underline shadow-none hover:bg-[#219899] focus:outline-none active:transform-none">Get Notified</button>
        </form>
    </div>

    <hr class="h-px border-none bg-[#2f375a]" />

    @* company logo, tag line, and social media *@
    <div class="my-4 flex w-full flex-row place-content-evenly gap-5">
        <div class="flex w-full flex-col items-center justify-center gap-4 place-self-center md:max-lg:w-2/6 lg:w-2/5">
            <img src="./images/resurgence-bio.png" alt="" class="h-11" />

            <div class="flex w-full flex-row items-center justify-center gap-5">
                <a href="Fundraising" class="text-xs text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7] md:text-base">Fundraising</a>
                <a href="Volunteering" class="text-xs text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7] md:text-base">Volunteering</a>
            </div>

            <div class="grid grid-cols-5 place-content-evenly gap-2">
                @foreach (var item in _socialMedia) {
                <button class="flex h-11 w-11 cursor-pointer items-center justify-center rounded border-none bg-[#202641] text-white no-underline shadow-none hover:bg-[#2f375a] focus:outline-none active:transform-none">
                    <svg class="max-md:p-0.5 md:p-1 max-lg:h-8 max-lg:w-8 fill-[#219899] lg:h-9 lg:w-9">
                        <use href="@item"></use>
                    </svg>
                </button>
                }
            </div>
        </div>

        <div class="grid grid-cols-3 gap-5 max-md:hidden md:max-lg:w-4/6 lg:w-3/5">
            <div class="flex w-36 flex-col gap-3">
                <p class="m-0 text-lg font-semibold">About US</p>

                <nav class="flex flex-col gap-3">
                    <a href="BoardOfDirectors" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Board of Directors</a>
                    <a href="Advisors" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Advisors</a>
                    <a href="SafetyReviewCommittee" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Safety Review Committee (SRC)</a>
                    <a href="AttbAccreditation" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">AATB Accreditation</a>
                    <a href="OversightAgreement" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Oversight Agreements</a>
                </nav>
            </div>

            <div class="flex w-36 flex-col gap-3">
                <p class="m-0 text-lg font-semibold">Publications</p>

                <nav class="flex flex-col gap-3">
                    <a href="GuidelinesAndPolicies" class="flex flex-col text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        <p class="m-0">Guidelines</p>
                        <p class="m-0">and Policies</p>
                    </a>
                    <a href="Reports" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Reports</a>
                    <a href="Articles" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Articles</a>
                </nav>
            </div>

            <div class="flex w-36 flex-col gap-3">
                <p class="m-0 text-lg font-semibold">Projects</p>

                <nav class="flex flex-col gap-3">
                    <a href="LearningPlatform" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Learning Platform</a>
                    <a href="InventoryOperationsManagement" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Inventory Operations Management</a>
                    <a href="DocumentationDevelopment" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Documentation Development</a>
                    <a href="AldehydeStabilizedPreservationProtocol" class="text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Aldehyde Stabilized Preservation Protocol</a>
                </nav>
            </div>
        </div>
    </div>

    <hr class="h-px border-none bg-[#2f375a]" />

    @* Relevant company logos section *@
    <div class="flex place-content-evenly gap-2 overflow-x-clip py-2 md:whitespace-nowrap">
        @foreach (var imageUrl in _logoUrls) {
        <img src="@imageUrl" class="h-4 w-auto sm:h-7 md:h-10 lg:h-12 xl:h-14" alt="" />
        }
    </div>

    <hr class="h-px border-none bg-[#2f375a]" />

    @* legal disclosures section *@
    <div class="flex flex-col items-center justify-between pb-2 sm:flex-row">
        <p class="text-xs text-gray-400 md:text-base">Copyright &copy ResurgenceBio, 20XX-@DateTime.Today.Year.</p>

        <div class="flex items-center justify-between gap-4">
            <a href="TermsAndConditions" class="text-xs text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7] md:text-base"> Terms & Conditions </a>
            <a href="TrademarkPolicy" class="text-xs text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7] md:text-base"> Trademark Policy</a>
            <a href="PrivacyPolicy" class="text-xs text-gray-400 no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7] md:text-base"> Privacy Policy</a>
        </div>
    </div>
</footer>

@code {

    // Tailwind styling

    // Component parameters
    // [Parameter] public bool FullSizeFooter { get; set; } = false;

    // Context of elements

    private string[] _logoUrls = ["./images/pdc.png", "./images/biomedical-research.png", "./images/tomorrow-bio.png", "./images/european-biostasis-foundation.png", "./images/suspended-animation.png", "./images/biostasis-technologies.png"];

    private string[] _socialMedia = ["icons/linkedin.svg#linkedin-icon", "icons/instagram.svg#instagram-icon", "icons/facebook.svg#facebook-icon", "icons/youtube.svg#youtube-icon", "icons/discord.svg#discord-icon",];

    private Email _email = new();

    private void HandleValidSubmit()
    {
        // TODO: Handle email submission
    }

    // private readonly InfoCard[] _infoCards =
    // [
    //     new InfoCard
    //     {
    //         Icon = new Icons.Regular.Size32.WindowWrench(),
    //         Heading = "Adipiscing",
    //         Description = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
    //     },
    //     new InfoCard
    //     {
    //         Icon = new Icons.Regular.Size32.WindowWrench(),
    //         Heading = "Arcu",
    //         Description = "Lorem ipsum odor amet, consectetuer adipiscing elit. Dui facilisi sociosqu faucibus adipiscing dignissim senectus ornare. Odio hac neque molestie arcu massa integer ante tellus. Montes orci orci dolor ipsum rutrum dis efficitur lorem. Tempus gravida arcu donec ad massa egestas inceptos elit. Taciti habitant duis habitasse diam ut at. Tristique vehicula porta nibh nulla mi fringilla. Vehicula amet augue orci sed sagittis. Suscipit augue netus potenti ullamcorper ut in leo commodo. Torquent praesent nulla, congue platea ipsum nisi."
    //     },
    //     new InfoCard
    //     {
    //         Icon = new Icons.Regular.Size32.WindowWrench(),
    //         Heading = "Etiam",
    //         Description = "Lorem ipsum odor amet, consectetuer adipiscing elit. Platea habitasse nisl laoreet vel arcu lobortis maecenas. Vulputate hac ultricies justo purus ex; dolor urna fames interdum. Nullam scelerisque in porta blandit potenti hac placerat. Libero nunc condimentum potenti vivamus in justo. Ultricies nunc mi non magnis ut. Venenatis cubilia habitant pharetra fringilla hac vel phasellus aenean? Dis nam sed scelerisque enim nascetur."
    //     },
    //     new InfoCard
    //     {
    //         Icon = new Icons.Regular.Size32.WindowWrench(),
    //         Heading = "Arcu",
    //         Description = "Lorem ipsum odor amet, consectetuer adipiscing elit. Dui facilisi sociosqu faucibus adipiscing dignissim senectus ornare. Odio hac neque molestie arcu massa integer ante tellus. Montes orci orci dolor ipsum rutrum dis efficitur lorem. Tempus gravida arcu donec ad massa egestas inceptos elit. Taciti habitant duis habitasse diam ut at. Tristique vehicula porta nibh nulla mi fringilla. Vehicula amet augue orci sed sagittis. Suscipit augue netus potenti ullamcorper ut in leo commodo. Torquent praesent nulla, congue platea ipsum nisi."
    //     },
    //     new InfoCard
    //     {
    //         Icon = new Icons.Regular.Size32.WindowWrench(),
    //         Heading = "Etiam",
    //         Description = "Lorem ipsum odor amet, consectetuer adipiscing elit. Platea habitasse nisl laoreet vel arcu lobortis maecenas. Vulputate hac ultricies justo purus ex; dolor urna fames interdum. Nullam scelerisque in porta blandit potenti hac placerat. Libero nunc condimentum potenti vivamus in justo. Ultricies nunc mi non magnis ut. Venenatis cubilia habitant pharetra fringilla hac vel phasellus aenean? Dis nam sed scelerisque enim nascetur."
    //     }
    // ];

}