<div class="w-full grid grid-flow-row grid-cols-2 grid-rows-2 place-items-center gap-20 bg-neutral-800 p-20 font-serif">
    <div class="relative flex h-80 w-80 flex-col items-center justify-center gap-2 bg-neutral-400 p-4 pt-16">
        <div class="absolute -top-16 h-32 w-32">
            <img src="https://placehold.co/400" class="w-full h-full object-cover rounded-full"  alt=""/>
        </div>

        <p class="m-0 pt-2">FirstName LastName</p>

        <p class="m-0">Position</p>

        <p class="m-0 text-center">Position Description or Person Description lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="grid grid-cols-1 place-content-evenly gap-2">
            <button class="flex h-11 w-11 cursor-pointer items-center justify-center rounded border-none bg-[#202641] text-white no-underline shadow-none hover:bg-[#2f375a] focus:outline-none active:transform-none">
                <img src="https://placehold.co/400" class="rounded-full fill-[#219899] max-md:p-0.5 md:p-1 md:max-lg:h-8 md:max-lg:w-8 lg:h-9 lg:w-9" alt=""/>
            </button>
        </div>
    </div>

    <div class="relative flex h-80 w-80 flex-col items-center justify-center gap-2 bg-neutral-400 p-4 pt-16">
        <div class="absolute -top-16 h-32 w-32">
            <img src="https://placehold.co/400" class="w-full h-full object-cover rounded-full" alt=""/>
        </div>

        <p class="m-0 pt-2">FirstName LastName</p>

        <p class="m-0">Position</p>

        <p class="m-0 text-center">Position Description or Person Description lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="grid grid-cols-1 place-content-evenly gap-2">
            <button class="flex h-11 w-11 cursor-pointer items-center justify-center rounded border-none bg-[#202641] text-white no-underline shadow-none hover:bg-[#2f375a] focus:outline-none active:transform-none">
                <img src="https://placehold.co/400" class="rounded-full fill-[#219899] max-md:p-0.5 md:p-1 md:max-lg:h-8 md:max-lg:w-8 lg:h-9 lg:w-9" alt=""/>
            </button>
        </div>
    </div>

    <div class="relative flex h-80 w-80 flex-col items-center justify-center gap-2 bg-neutral-400 p-4 pt-16">
        <div class="absolute -top-16 h-32 w-32">
            <img src="https://placehold.co/400" class="w-full h-full object-cover rounded-full" alt=""/>
        </div>

        <p class="m-0 pt-2">FirstName LastName</p>

        <p class="m-0">Position</p>

        <p class="m-0 text-center">Position Description or Person Description lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="grid grid-cols-1 place-content-evenly gap-2">
            <button class="flex h-11 w-11 cursor-pointer items-center justify-center rounded border-none bg-[#202641] text-white no-underline shadow-none hover:bg-[#2f375a] focus:outline-none active:transform-none">
                <img src="https://placehold.co/400" class="rounded-full fill-[#219899] max-md:p-0.5 md:p-1 md:max-lg:h-8 md:max-lg:w-8 lg:h-9 lg:w-9" alt=""/>
            </button>
        </div>
    </div>

    <div class="relative flex h-80 w-80 flex-col items-center justify-center gap-2 bg-neutral-400 p-4 pt-16">
        <div class="absolute -top-16 h-32 w-32">
            <img src="https://placehold.co/400" class="w-full h-full object-cover rounded-full" alt=""/>
        </div>

        <p class="m-0 pt-2">FirstName LastName</p>

        <p class="m-0">Position</p>

        <p class="m-0 text-center">Position Description or Person Description lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>

        <div class="grid grid-cols-1 place-content-evenly gap-2">
            <button class="flex h-11 w-11 cursor-pointer items-center justify-center rounded border-none bg-[#202641] text-white no-underline shadow-none hover:bg-[#2f375a] focus:outline-none active:transform-none">
                <img src="https://placehold.co/400" class="rounded-full fill-[#219899] max-md:p-0.5 md:p-1 md:max-lg:h-8 md:max-lg:w-8 lg:h-9 lg:w-9" alt=""/>
            </button>
        </div>
    </div>
</div>
