<nav class="flex h-14 flex-row overflow-x-clip !border-[#2f375a]" style="border-bottom: 1px solid;">
    <div class="container mx-auto flex h-full flex-row items-center space-x-2 px-2 sm:px-4 lg:px-6">
        <div class="flex flex-row items-center max-lg:flex-none lg:hidden">
            <button type="button" class="relative inline-flex aspect-square h-7 items-center justify-center rounded bg-neutral-800 hover:bg-neutral-700">
                <p>=</p>
            </button>
        </div>

        <div class="max-lg:hidden max-lg:flex-none lg:w-40 lg:shrink-0">
            <a href="" class="space-x1 flex cursor-pointer flex-row items-center space-x-1.5 px-2 py-1">
                <img src="https://flowbite.com/docs/images/logo.svg" alt="Home" class="width-auto h-5"/>
                <p class="text-white">ResurgenceBio</p>
            </a>
        </div>

        <div class="h-full max-lg:hidden lg:flex lg:flex-1 lg:items-center lg:justify-center lg:space-x-4">
            <div class="group relative flex h-full flex-col justify-center">
                <p class="m-0 inline-block cursor-default text-white no-underline group-hover:text-[#3cf5f7]">About Us</p>

                <nav class="absolute left-0 top-full z-10 hidden min-w-max flex-col gap-5 bg-[#090b34] p-4 shadow group-hover:flex !border-[#2f375a]" style="border: 1px solid;">
                    <a href="BoardOfDirectors" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Board of Directors
                    </a>
                    <a href="Advisors" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Advisors
                    </a>
                    <a href="SafetyReviewCommittee" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Safety Review <br/>
                        Committee (SRC)
                    </a>
                    <a href="AttbAccreditation" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">AATB Accreditation</a>
                    <a href="OversightAgreement" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Oversight Agreements
                    </a>
                </nav>
            </div>

            <div class="group relative flex h-full flex-col justify-center">
                <p class="m-0 inline-block cursor-default text-white no-underline group-hover:text-[#3cf5f7]">Publications</p>

                <nav class="absolute left-0 top-full z-10 hidden min-w-max flex-col gap-5 bg-[#090b34] p-4 shadow group-hover:flex !border-[#2f375a]" style="border: 1px solid;">
                    <a href="GuidelinesAndPolicies" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Guidelines and Policies
                    </a>
                    <a href="Reports" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Reports
                    </a>
                    <a href="Articles" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Articles
                    </a>
                </nav>
            </div>

            <div class="group relative flex h-full flex-col justify-center">
                <p class="m-0 inline-block cursor-default text-white no-underline group-hover:text-[#3cf5f7]">Projects</p>

                <nav class="absolute left-0 top-full z-10 hidden min-w-max flex-col gap-5 bg-[#090b34] p-4 shadow group-hover:flex !border-[#2f375a]" style="border: 1px solid;">
                    <a href="LearningPlatform" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Learning Platform</a>
                    <a href="InventoryOperationsManagement" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Inventory Operations <br/>
                        Management
                    </a>
                    <a href="DocumentationDevelopment" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Documentation <br/>
                        Development
                    </a>
                    <a href="AldehydeStabilizedPreservationProtocol" class="relative inline-flex cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">
                        Aldehyde Stabilized <br/>
                        Preservation Protocol
                    </a>
                </nav>
            </div>

            <a href="Fundraising" class="relative inline-block cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Fundraising</a>
            <a href="Volunteering" class="relative inline-block cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">Volunteering</a>
            <a href="Faq" class="relative inline-block cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">FAQ</a>
        </div>

        <div class="flex items-center justify-end space-x-3 max-lg:grow">
            <a href="CaresReporting" class="relative inline-block max-lg:hidden cursor-pointer text-white no-underline hover:text-white hover:underline hover:decoration-[#3cf5f7]">CARES Reporting</a>
            <a href="Emergency" class="relative inline-block cursor-pointer rounded bg-rose-600 p-3 no-underline text-white hover:bg-rose-400">Emergency</a>
        </div>
    </div>
</nav>

@code
{
    // section: Tailwind CSS styling
    private const string NavContainer = "";
    private const string NavItem = "";

    private const string NavDropdown = "";
    private const string DropdownContent = "";

    private const string NavLink = $"{NavItem}";
    private const string LogoHomeNavImage = $"";

    // section: Component logic
    private bool _mdMenuExpanded = false;
    private bool _mobileMenuExpanded = false;

    private void ToggleMdMenu()
    {
        _mdMenuExpanded = !_mdMenuExpanded;
    }

    private void ToggleMobileMenu()
    {
        _mobileMenuExpanded = !_mobileMenuExpanded;
    }
}