@page "/BoardOfDirectors"

<PageTitle>Board of Directors</PageTitle>

<article class="flex w-full flex-col items-center justify-center font-serif">
    <h1 class="mt-0 max-md:text-3xl md:max-lg:text-4xl lg:text-5xl text-center">
        Board of Directors
    </h1>

    <div class="flex flex-col justify-center items-center gap-4">
        <div class="m-4 flex max-md:flex-col md:flex-row items-center justify-center bg-primary-600 rounded p-6">
            <div class="flex-none aspect-[4/5] h-80 bg-primary-400 rounded">
                <img src="https://placehold.co/400x500" alt="" class="w-full h-full object-cover rounded"/>
            </div>

            <div class="flex-1 grow max-md:pt-6 md:ps-6 prose prose-neutral max-w-none">
                <h2 class="mb-0 text-white">
                    FirstName LastName
                </h2>

                <h3 class="mt-4 text-white">
                    Position Description
                </h3>

                <p class="text-gray-400">
                    Person Description facilisi eu ultrices mi varius. Augue posuere nostra fusce nam diam in convallis maximus. Tellus turpis aliquet fusce vehicula rutrum est facilisis purus. Platea at quam auctor a curabitur venenatis. Turpis at metus magna proin laoreet himenaeos. Eleifend sem mattis vel accumsan molestie auctor.
                </p>

                <p class="text-gray-400">
                    Nulla rutrum nascetur ipsum euismod elementum augue eu lacus. Vitae vulputate nibh ipsum sollicitudin litora nascetur. Faucibus donec commodo, cubilia curae arcu donec habitant a. Est hac aptent enim elementum proin neque egestas pellentesque. Arcu cras molestie dolor morbi, elementum feugiat commodo etiam aliquam. Leo sem magnis ultrices aliquam commodo erat feugiat.
                </p>
            </div>
        </div>

        <div class="m-4 flex max-md:flex-col md:flex-row items-center justify-center bg-primary-600 rounded p-6">
            <div class="flex-none aspect-[4/5] h-80 bg-primary-400 rounded">
                <img src="https://placehold.co/400x500" alt="" class="w-full h-full object-cover rounded"/>
            </div>

            <div class="flex-1 grow max-md:pt-6 md:ps-6 prose prose-neutral max-w-none">
                <h2 class="mb-0 text-white">
                    FirstName LastName
                </h2>

                <h3 class="mt-4 text-white">
                    Position Description
                </h3>

                <p class="text-gray-400">
                    Person Description quis hac pellentesque varius augue lacinia. Aenean facilisi nisi orci; metus sapien porttitor condimentum cursus. Maecenas non a eros phasellus penatibus. Enim et inceptos ultricies, dis sagittis himenaeos erat.
                </p>
            </div>
        </div>

        <div class="m-4 flex max-md:flex-col md:flex-row items-center justify-center bg-primary-600 rounded p-6">
            <div class="flex-none aspect-[4/5] h-80 bg-primary-400 rounded">
                @* <img src="https://placehold.co/400x500" alt="" class="w-full h-full object-cover rounded"/> *@
            </div>

            <div class="flex-1 grow max-md:pt-6 md:ps-6 prose prose-neutral max-w-none">
                <h2 class="mb-0 text-white">
                    FirstName LastName
                </h2>

                <h3 class="mt-4 text-white">
                    Position Description
                </h3>

                <p class="text-gray-400">
                    Person Description orci a feugiat metus suspendisse; vestibulum molestie vivamus accumsan. Proin laoreet ultrices posuere posuere integer commodo blandit. Sed facilisis ligula interdum; platea fames adipiscing penatibus. Fringilla maximus magnis nulla; sapien ac hendrerit. Leo per finibus in himenaeos parturient scelerisque molestie ultrices facilisis. Erat malesuada curae tellus justo ex maximus. Litora potenti ridiculus amet sem elementum.
                </p>

                <p class="text-gray-400">
                    Id hac egestas vulputate massa lacus diam. Nibh sagittis morbi finibus eu consectetur ultrices. Lacus elementum sed habitasse quisque nam vivamus habitant posuere luctus. Quam integer sagittis laoreet suscipit facilisi facilisis porta. Ut congue dictum proin amet tempus, curae aptent dignissim vivamus. Accumsan vitae dictumst condimentum integer metus aenean. Adipiscing turpis ligula odio neque nibh rutrum; fermentum nam. Tristique cras lacinia neque proin ridiculus at at morbi.
                </p>

                <p class="text-gray-400">
                    Curabitur faucibus netus purus maecenas hendrerit facilisis torquent. Interdum amet ridiculus finibus velit mollis fames euismod nisi. At venenatis risus ultrices senectus elementum tristique.
                </p>
            </div>
        </div>
    </div>
</article>

@code {

}