@page "/Volunteering"

<PageTitle>Volunteering</PageTitle>

@* note: volunteering timeline *@
<div class="relative !border-[#2f375a] flex flex-col items-start justify-start p-0 m-0 py-7 gap-4 prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert" style="border-left: 1px solid">
    <div class="ms-6">
        <div class="absolute w-3 h-3 bg-[#2f375a] max-sm:mt-1 sm:max-lg:mt-1.5 lg:mt-2.5 rounded-full -start-[7px] !border-[#090b34]" style="border: 1px solid"></div>

        <time class="text-sm">August 27, 2024</time>

        <h3 class="!mt-0">SST Training</h3>

        <p class="">Description of the event eu ad lacus torquent hendrerit malesuada cras aliquam leo phasellus. In nullam pharetra arcu euismod mattis maecenas.</p>

        <a href="VolunteeringEvent" class="inline-block cursor-pointer rounded bg-[#167070] hover:bg-[#219899] px-4 py-1.5 text-white no-underline">
            Learn more
        </a>
    </div>

    <div class="ms-6">
        <div class="absolute w-3 h-3 bg-[#2f375a] max-sm:mt-1 sm:max-lg:mt-1.5 lg:mt-2.5 rounded-full -start-[7px] !border-[#090b34]" style="border: 1px solid"></div>

        <time class="text-sm">Month XX, 20XX</time>

        <h3 class="!mt-0">Event Title</h3>

        <p class="">Description of the event eu ad lacus torquent hendrerit malesuada cras aliquam leo phasellus. In nullam pharetra arcu euismod mattis maecenas.</p>
    </div>

    <div class="ms-6">
        <div class="absolute w-3 h-3 bg-[#2f375a] max-sm:mt-1 sm:max-lg:mt-1.5 lg:mt-2.5 rounded-full -start-[7px] !border-[#090b34]" style="border: 1px solid"></div>

        <time class="text-sm">Month XX, 20XX</time>

        <h3 class="!mt-0">Event Title</h3>

        <p class="!mb-0">Description of the event eu ad lacus torquent hendrerit malesuada cras aliquam leo phasellus. In nullam pharetra arcu euismod mattis maecenas.</p>
    </div>
</div>


@code {

}