@page "/AatbAccreditation"

<article class="w-full flex flex-col items-center justify-center font-serif">
    <div class="w-full sm:w-fit flex flex-col justify-center items-center rounded bg-primary-600 p-10 box-border gap-6">
        <div class="flex flex-col items-center justify-center gap-2">
            <div class="flex flex-row justify-center items-center gap-4">
                <p class="m-0 text-center text-xs font-semibold py-1 px-2 rounded bg-amber-200 !border-amber-600 text-amber-700" style="border: 1px solid">
                    Work in progress
                </p>
            </div>

            <h1 class="m-0 max-md:text-3xl md:max-lg:text-4xl lg:text-5xl text-center">
                American Association of Tissue Banks (AATB) Accreditation
            </h1>

            <p class="m-0 prose prose-sm sm:prose-base lg:prose-lg dark:prose-invert text-center">
                Description eu ad lacus torquent hendrerit malesuada cras aliquam leo phasellus. In nullam pharetra arcu euismod mattis maecenas.
            </p>
        </div>

        <div class="flex-none flex aspect-[5/2] max-w-full sm:max-h-[350px] max-lg:mx-6 lg:mx-10 rounded">
            <img src="https://placehold.co/500x500" class="object-cover w-full h-full rounded" alt=""/>
        </div>
    </div>
</article>

@code {

}