@page "/AldehydeStabilizedPreservationProtocol"

<article class="w-full flex flex-col items-center justify-center font-serif">

    <h1 class="mt-0 max-md:text-3xl md:max-lg:text-4xl lg:text-5xl text-center">
        Aldehyde Stabilized Preservation Protocol
    </h1>

    <PlaceholderTextPage></PlaceholderTextPage>
</article>

@code {

}